name: Code Coverage

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.8' ]

    name: Code coverage with python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2

    - name: Setup python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Update pip
      run: pip install --upgrade pip

    - name: Install package
      run: python -m pip install -e .[test]

    - name: Generate report
      run: |
        pip install pytest-cov
        pytest --cov=./ --cov-report=xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
